<!DOCTYPE html>
<html>
<body> 



<% @case.each do |t| %>
    <p><%= t.last_flight_number %></p>
    <p><%= t.number_baggage %></p>
    <p><%= t.arriving_time %></p>
    <p><%= t.destination %></p>
<% end %>

</body>
</html>